Dispersion_social.exe
.vscode/c_cpp_properties.json
Dispersion_social.o
.vscode/settings.json
rol.csv
basura.txt
Dispersion_social.out
README.org
README.md~
README.pdf
README.tex
README.tex~
*.exe
*.exe
a.exe
*.exe
*.o
test/Agentes/Environment/Matriz_adyacencia_mapa.csv
test/Agentes/Environment/Usables.csv
Dispersion_social.o
